.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .logo{
    width: 10vh;
    height: auto;
  }
  .navegacion{
    background-image: url('../../../../assets/img/header-cortada.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
  }
 
  .nav-link{
    color: white !important
  }
  
/*   .navbar-collapse{
    opacity: 0.1;

  } */
