.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 100px;
  background: linear-gradient(to right, #38085c, #960207);
  background-size: cover;

  color: white;
}
