
<div *ngIf="carCargado">
    <h1>vista detalle</h1>
    <div class="card-body">
      <h5 class="card-title">Marca: {{carCargado.marca}}</h5>
      <p class="card-text">Modelo: {{carCargado.modelo}} </p>
      <p class="card-text">Precio: {{carCargado.precio}}</p>
      <p class="card-text">Age: {{carCargado.age}}</p>
      <p class="card-text">Kilometraje: {{carCargado.kilometraje}}</p>
      <p class="card-text">Transmision: {{carCargado.transmision}} </p>
      <p class="card-text">Ciudad: {{carCargado.ciudad }}</p>
    </div>
  </div>
  
